<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Read More About ODISHA</title>
<style type="text/css">
       body{
             background: url(https://images.wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg);
       }
       h1{
           text-align:center;
           font-size: 100px;


       }

       p{
           font-size: 20px;
           text-align: justify;
           width: 1500px;
           color: white;

       }

    </style>
</head>
<body>
<h1> ODISHA </h1>
<p>
    Located in the eastern part of India, Odisha is the eighth largest (area) state in the country. It is home to the largest coastal lagoon in India (Chilika Lake). The state is also known for organizing one of the biggest chariot festivals in the world (Rath Yatra). While the state capital Bhubaneswar is known as the ‘City of Temples’, it’s also the sports capital of the country.

Odisha is the land where legendary emperor Ashoka gave up his blood-seeking thirst for power and took to ascetic life. Known for their love for pakhala (rice fermented in water), there is a rice institute in Cuttack, home of Netaji Subhash Chandra and home of the original ‘Dahi bara aloo dum’ (fried lentil dumplings in a curry-curd mix).

It is surrounded by the states of West Bengal and Jharkhand to the north, Chhattisgarh to the west and Andhra Pradesh to the south. Odisha has a coastline of 485 kilometres along the Bay of Bengal. The region is also known as Utkala and is mentioned in India’s national anthem. Earlier, Cuttack was made the capital of the region by Anantavarman Chodaganga till the British era until 1948. Thereafter, Bhubaneswar became the capital of Odisha.

Talking about the history of the state, On April 1, 1912, the Bihar and Orissa Province was formed. Later in 1936, Bihar and Orissa were divided into separate provinces. The new province of Orissa came into existence on a linguistic basis during the British rule in India.

The state is spread over an area of 155,707 square km and extends for 1030 km from north to south and 500 kilometres from east to west. The state is divided into 30 districts which are further subdivided into 314 blocks.  The state has coastal plains, central hilly regions, central plateaus, flood plains, and uplands. Also, it has some major floodplains encompassing the river systems.

The western and northern divisions of the state are part of the Chota Nagpur plateau. The coasts are composed of fertile alluvial plains and the valleys of the Mahanadi, Brahmani, and Baitarani rivers, which flow into the Bay of Bengal. Odisha has plentiful natural resources and a large coastline. Odisha has developed as the most preferred destination for overseas investors. It contains one-fifth of India’s coal, a quarter of its iron ore, one-third of its bauxite reserves.

The Gross State Domestic Product (GSDP) of Odisha state for 2019-20 (at current prices) is estimated to be Rs. 5,33,822 crore. This is an increase of 7.7% over the previous year (2018-19). In 2018-19, GSDP grew at a rate of 14% over the previous year (at current prices). The per capita GSDP of Odisha in 2019-20 (at current prices) is estimated at Rs 1,16,614. This is 7% higher than the 2018-19. The State has not only registered a higher rate of growth than many of its peers but also the national average, thereby consistently improving its ranking amongst major states. Livestock products account for more than 20% of the total value of agricultural output. Livestock production, furthermore, is partially rural-based, contributing significantly to food security and sustainability, in addition to livestock performing several social, economic and cultural roles and functions in these areas.

The cultural attractions in Odisha state include the Jagannatha Temple in Puri, known for its annual Rath Yatra or Car Festival, the unique and beautiful appliqué artwork of Pipili, silver filigree ornamental works from Cuttack, tala Chitra (palm leaf engravings), famous stone utensils of Nilgiri (Balasore) and various tribal influenced cultures. The Sun Temple at Konark is famous for its architectural brilliance while the Sambalpuri textiles equal it in its artistic beauty.
    <a href="https://en.wikipedia.org/wiki/Odisha"><button>Read More</button></a>
</p>




</body>
</html>